/* lg */ 
@media screen and (min-width: 1200px) {
  .navbar-nav {
	
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-right: 30px;
    
  }
.navbar-nav li {
  padding: 10px;
  }
}



/*med*/






/*sm/