* {
  box-sizing: border-box;
  text-decoration: none;
   list-style: none;
}

.homepage {
max-width: 1600px;
    margin: auto;
}

b, strong {
    font-weight: bold;
}
body {
    background: #fff;
    color: #4e4e4e;
    line-height: 22px;
}


.container {
margin: auto;
}

body > section {
    padding: 70px 0;
}

.top-logo {

  align-content: center;
  height: auto;
    width: 300px;
    line-height: 1;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background: #151515;
    padding: 15px 0;
    padding-bottom: 0;
}

.navbar-nav {
    margin-top: 0px;
  padding-top: 30px;
    padding-right: 10px;
    text-align: right;
  margin-right: 20px;
}

.navbar-nav li a {
    color: #3cf;
    font-family: 'Ubuntu', sans-serif;

}

.navbar li {
    color: #3cf;
    padding-top: 10px;
}

.header {
background-color: black;
}


/*
.navbar-nav>li {
    margin-left: 35px;
    padding-bottom: 28px;
    text-decoration: none;
  
}
*/

h2 {
    color: #3cf;
   font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 1.4em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-style: normal;
  color: #ff3a33;
}

p {
  font-family: 'Ubuntu', sans-serif;
     color: rgba(28,28,28,.9);
  font-weight: 500;
  letter-spacing: .4px;
      font-style: normal;
      font-size: 15px;
}


.center {
    text-align: center;
    padding-bottom: 30px;
}

/*PAGES*/

.page-block {
text-align: left;
  margin: 0px 20px 0px 20px;
}


#trailer {
    background: #eee;
    padding-bottom: 0px;
    float: left;
    overflow: hidden;
    clear: both;
    width: 100%;
}

#player {
    width: 100%;
    height: 100%;
    margin: 0px 20px 0px 20px;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
}

#about {

    float: left;
    overflow: hidden;
    clear: both;
    background-color: #ffffff;
    width: 100%;
  text-align: center;
}

#the-filmmakers {
    background: #eee;
    padding-bottom: 0px;
    float: left;
    overflow: hidden;
    clear: both;
    width: 100%;

}

#donate {
    padding-bottom: 70px;
    float: left;
    overflow: hidden;
    clear: both;
    background-color: #ffffff;
    width: 100%;
 
}

#stills {
    background: #eee;
    padding-bottom: 0px;
    float: left;
    overflow: hidden;
    clear: both;
    width: 100%;


}

#mailing-list {
    padding-bottom: 70px;
    float: left;
    overflow: hidden;
    clear: both;
    background-color: #ffffff;
    width: 100%;
 
}

#showcase {
    height: 465px;
    width: 200px;
    border: 1px solid #CCC;
    border-radius: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 17px;
    font-size: 12px;
    color: #666666;
    margin-bottom: 22px;
    background-color: #FFFFFF;
    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 14px;
    padding-left: 7px;
    line-height: 18px;
}

#showcase-top {
    height: 305px;
    overflow: hidden;
    text-align: left;
    margin-bottom: 22px;
}


#footer {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    color: #aaa;
    background: #2e2e2e;
    width: 100%;
    min-height: 100px;
    clear: both;
    overflow: hidden;
}

#footer a {
  color: white;
  text-align: center;
}

.back-to-top {
   font-family: 'Ubuntu', sans-serif;
  margin-top: 15px;
  text-align: center;
}

/*Newsletter Code here*/



.follow-us {
    text-align: center;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 10px;
}
